* {
  box-sizing: border-box;
  background-color: rgb(192, 253, 250);
  font-family: "Gowun Batang", serif;
  font-family: "Inconsolata", monospace;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 12px;
  color: rgb(26, 24, 24);
}

table {
  border-collapse: collapse;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  
}

th, td {
  padding: 0.25rem;
  text-align: left;
  border: 1px solid skyblue;
  background-color: skyblue;
}
td:hover{
  background-color: white;
  cursor: pointer;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
.logo   {
  margin: 0 50px;
  height: 60px;
  float: left;
  color: #fff;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 2px;
}
.logo span  {
  color: darkslateblue;
  font-size: 20px;
}
.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
  
}
li {
  float: right;
}
.nav li a {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  display: block;
  padding: 8px;
  list-style: none;
  text-decoration: none;
  color: black;
}
main {
    margin: 0 auto;
  }
  h2 {
    text-align: center;
  }
  #addStore {
    font-style:bold;
    font-size: 20px;
    color: black;
    margin:0 auto;
    display:inline-block;
  }
  
  #newStore {
    font-size: 20px;
    color: black;
    text-decoration: underline;  
    font-family: monospace;
  }
  
  #submit {
    font-size: 16px;
    width: 175px;
    border-radius: 30px;
    background-color: rgb(137, 184, 255);
    border-color: rgb(108, 167, 255);
    border-style: none;
  }
  #locations {
    font-size: 15px;
    margin: 4px auto;
    float:center;
  }
  
  #locations td {
    padding: 6px;
  }
  
  #locationsOne td {
    padding: 6px;
  }
  
  #addresses {
    margin: 4px auto;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    float: center;
    text-align: center;
    border:hidden;
    table-layout: inherit;
  }
  
  #addresses td {
    padding: 6px;
  }
  
  #contactInfo {
    padding-bottom: 20px;
    font-size: 15px;
    margin: 4px auto;
    border: hidden;
    float: center;
  }
  
  #contactInfo td {
    padding: 6px;
  }
  footer { 
    padding-top: 10px;
    padding-bottom: 10px;
    color:black;
    font-size: 25px;
    font-style:bold;
    border: solid skyblue;
    margin-top: 40px;
    width: 100%;
  }
  input {
    border-radius: 30px;
    border-style:solid;
    border-color: skyblue;
    background-color: white;
  }