* {
  background-color: white;
  font-family: "Gowun Batang", serif;
  font-family: "Inconsolata", monospace;
  font-family: "Open Sans", sans-serif;
}
nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
nav img {
  width: 100px;
}
.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
  font-size: 20px;
}
.nav-links ul li a {
  color: rgb(32, 28, 28);
  text-decoration: none;
  font-size: 13px;
}
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: orangered;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 100%;
}
.content {
  list-style: none;
  justify-content: space-between;
}

ul,
li {
  list-style: none;
}
header {
  text-align: center;
  font-size: 80px;
  background-color: salmon;
  font-family: "Alfa Slab One", cursive;
  color: rgb(32, 28, 28);
}
.headerTwo {
  text-align: center;
  background-color: sandybrown;
  font-family: "Alfa Slab One", cursive;
  font-size: 30px;
}
caption {
  text-align: center;
  font-size: 40px;
  color: rgb(32, 28, 28);
}

table {
  border-color: salmon;
  color: rgb(32, 28, 28);
  border-style: ridge;
}
img {
  width: 40%;
  padding-left: 50px;
}
.footer {
  background-color: sandybrown;
  padding: 10px;
  text-align: center;
  color: rgb(32, 28, 28);
}
.footerText {
  background-color: sandybrown;
  text-align: center;
  font-size: 10px;
}
