* {
  box-sizing: border-box;
  background-color: white;
  font-family: "Gowun Batang", serif;
  font-family: "Inconsolata", monospace;
  font-family: "Open Sans", sans-serif;
}

table {
  border-collapse: collapse;
  width: 50%;
}
th, td {
  padding: 0.25rem;
  text-align: left;
  border: 1px solid black;
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  float: right;
}

.nav li a {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  display: block;
  padding: 8px;
  list-style: none;
}

 

 
img {
  float: left;
}
h2 {
    float: right;
}